# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# ctags cscope files
tags
cscope.*

*.flags
*.swp

# output files
*.d
*.t
ucos-elf
ucos
ucos.nm
ucos.map
ucos.dis
ucos.bin
